.container {
    background-color: rgba(94, 163, 241, 0.363);
}

.contacts {
    margin-top: 1%;
    margin-left: 5%;
}

.messages {
    margin-left: 5%;
}

h2 {
    border: 3px double black;
    text-align: center;
    padding: 1% 1%;
    margin: 5% 1%;
    background: rgba(128, 128, 128, 0.438);
}

.nom {
    font-weight: bold;
    margin: 1%;
}

.btn-outline-info {
    margin: 2% 0% 1% 75%;
}

.btn-primary {
    margin: 1% 0%;
}