        <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
                <a class="navbar-brand" href="./index.html">SuperCloneDeLinkedIn</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="./index.html"><i class="fas fa-home"></i> Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./contact.html">Contact</a>
                    </li>

                  </ul>
                  <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-user"></i> Utilisateur
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="./register.html"><i class="fas fa-key"></i> S'inscrire</a>
                                  <a class="dropdown-item" href="./connection.html"><i class="fas fa-sign-in-alt"></i> Connexion</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="./profil.html"><i class="fa fa-cog"></i> Mon profil</a>
                                  <a class="dropdown-item" href="./timeline.html"><i class="fas fa-newspaper"></i> Ma timeline</a>
                                </div>
                              </li>
                  </ul>
                </div>
              </nav>