body {
    background-color: #8baebb!important;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    align-items: center;
}

.card-body {
    border: 1px solid rgba(4, 4, 65, 0.973);
}

.container {
    width: 80%;
    padding: 5%;
}

.row {
    text-align: center;
    justify-content: center;
}


/*a.nav-link,*/

p a {
    color: #343a40;
}


/*.nav-item {
    margin: 1%;
    padding: 1%;
}
#competence h3 {
    width: 100%;
}
h1,
h2 {
    text-align: center;
}*/

h3 {
    text-align: center;
    width: 67%;
}

button.btn {
    color: #8baebb;
}

#presentation {
    display: flex;
}

#presentation,
#competence,
#langage,
#centre,
.exper1,
.form {
    border: 3px double rgba(4, 4, 65, 0.973);
    -webkit-box-shadow: -1px 6px 16px 13px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -1px 6px 16px 13px rgba(0, 0, 0, 0.48);
    box-shadow: -1px 6px 16px 13px rgba(0, 0, 0, 0.48);
    padding: 2%;
    margin: 1%;
}

.info,
.ex1,
.forms,
.comp,
.lang,
.centre {
    /*width: 80%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #8baebb;
}

.comp {
    width: 40%;
}

.info p {
    width: 25%;
}

.ex1 p,
.forms p {
    width: 67%;
}

.info div,
.ex1 div,
.forms div,
.comp p,
.lang div,
.centre p {
    margin-left: 5%;
}

#presentation .button {
    display: inline-block;
    width: 40%;
}

.button {
    display: inline-flex;
    width: 100%;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
    justify-content: center;
}

button {
    color: #343a40;
    border-radius: 10% !important;
    border: none;
    margin: 1% !important;
    border: 1px solid rgba(4, 4, 65, 0.973);
    background-color: #8baebb;
}

img {
    width: 100px;
    height: 100px;
}