body {
    padding-top: 30px;
   
    background: url("bg.jpg") center center no-repeat;
    /*  background-color: rgb(0, 105, 217) !important; */}

form {
      border: #fff solid 0px;
      border-radius: 5px;
      margin-top: 15vh;
      padding: 50px 60px;
-webkit-box-shadow: -1px 6px 16px 13px rgba(0, 0, 0, 0.48);
-moz-box-shadow: -1px 6px 16px 13px rgba(0, 0, 0, 0.48);
box-shadow: -1px 6px 16px 13px rgba(0, 0, 0, 0.48);
  }

.form-control {
    margin-bottom: 10px;
}

h1 {
      text-align: center;
      color: white !important;
  }