    body {
        background-color: rgb(146, 146, 241) !important;
    }
    
    form {
        border: rgb(75, 39, 233) solid 1px;
        border-radius: 5px;
        margin-top: 30px;
        background-color: white;
    }
    
    #page {
        margin: 10px;
    }
    
    h1 {
        text-align: center;
    }
    
    #connectForm {
        padding: 10px;
    }